import {request} from '@umijs/max'
import {download} from '@/utils/twelvet'

// 请求的控制器名称
const controller = "/${moduleName}/${businessName}";

/**
 * 查询${functionName}列表
 * @param query 查询参数
 */
export function pageQuery${BusinessName}(query: { [key: string]: any }) {
    return request(`${controller}/pageQuery`, {
        method: `get`,
        params: query
    })
}

/**
 * 查询${functionName}详细
 * @param 主键
 */
export function get${BusinessName}(${pkColumn.javaField}: string | number) {
    return request(`${controller}/${${pkColumn.javaField}}`, {
        method: `get`
    })
}

/**
 * 新增${functionName}
 * @param data 数据参数
 */
export function add${BusinessName}(data: { [key: string]: any }) {
    return request(`${controller}`, {
        method: `post`,
        data: data
    })
}

/**
 * 修改${functionName}
 * @param data 数据参数
 */
export function update${BusinessName}(data: { [key: string]: any }) {
    return request(`${controller}`, {
        method: `put`,
        data: data
    })
}

/**
 * 删除${functionName}
 * @param 主键
 */
export function del${BusinessName}(${pkColumn.javaField}: string | number) {
    return request(`${controller}/${${pkColumn.javaField}}`, {
        method: `delete`
    })
}

/**
 * 导出数据
 * @param params
 */
export async function export${BusinessName}(params?: { [key: string]: any }) {
    return download(`${controller}/export`, params);
}
