<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twelvet.server.ai.mapper.AiKnowledgeMapper">

    <resultMap type="AiKnowledge" id="AiKnowledgeResult">
        <result property="knowledgeId" column="knowledge_id"/>
        <result property="knowledgeName" column="knowledge_name"/>
        <result property="welcomeMsg" column="welcome_msg"/>
        <result property="multiRound" column="multi_round"/>
        <result property="topK" column="top_k"/>
        <result property="knowledgeSort" column="knowledge_sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAiKnowledgeVo">
        select knowledge_id,
               knowledge_name,
               welcome_msg,
               multi_round,
               top_k,
               knowledge_sort,
               create_by,
               create_time,
               update_by,
               update_time
        from ai_knowledge
    </sql>

    <select id="selectAiKnowledgeList" parameterType="AiKnowledge" resultMap="AiKnowledgeResult">
        <include refid="selectAiKnowledgeVo"/>
        <where>
            <if test="knowledgeName != null  and knowledgeName != ''">and knowledge_name like concat('%',
                #{knowledgeName}, '%')
            </if>
            <if test="welcomeMsg != null  and welcomeMsg != ''">and welcome_msg = #{welcomeMsg}</if>
            <if test="multiRound != null ">and multi_round = #{multiRound}</if>
            <if test="topK != null ">and top_k = #{topK}</if>
            <if test="knowledgeSort != null ">and knowledge_sort = #{knowledgeSort}</if>
            and del_flag = 0
        </where>
        order by knowledge_sort asc
    </select>

    <select id="selectAiKnowledgeByKnowledgeId" parameterType="Long" resultMap="AiKnowledgeResult">
        <include refid="selectAiKnowledgeVo"/>
        where knowledge_id = #{knowledgeId}
    </select>

    <insert id="insertAiKnowledge" parameterType="AiKnowledge" useGeneratedKeys="true" keyProperty="knowledgeId">
        insert into ai_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="knowledgeName != null">knowledge_name,</if>
            <if test="welcomeMsg != null and welcomeMsg != ''">welcome_msg,</if>
            <if test="multiRound != null">multi_round,</if>
            <if test="topK != null">top_k,</if>
            <if test="knowledgeSort != null">knowledge_sort,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="knowledgeName != null">#{knowledgeName},</if>
            <if test="welcomeMsg != null and welcomeMsg != ''">#{welcomeMsg},</if>
            <if test="multiRound != null">#{multiRound},</if>
            <if test="topK != null">#{topK},</if>
            <if test="knowledgeSort != null">#{knowledgeSort},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateAiKnowledge" parameterType="AiKnowledge">
        update ai_knowledge
        <trim prefix="SET" suffixOverrides=",">
            <if test="knowledgeName != null">knowledge_name = #{knowledgeName},</if>
            <if test="welcomeMsg != null and welcomeMsg != ''">welcome_msg = #{welcomeMsg},</if>
            <if test="multiRound != null">multi_round = #{multiRound},</if>
            <if test="topK != null">top_k = #{topK},</if>
            <if test="knowledgeSort != null">knowledge_sort = #{knowledgeSort},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where knowledge_id = #{knowledgeId}
    </update>

    <delete id="deleteAiKnowledgeByKnowledgeId" parameterType="Long">
        update ai_knowledge
        set del_flag = 1
        where knowledge_id = #{knowledgeId}
    </delete>

    <delete id="deleteAiKnowledgeByKnowledgeIds" parameterType="Long">
        update ai_knowledge set del_flag = 1 where knowledge_id in
        <foreach item="knowledgeId" collection="array" open="(" separator="," close=")">
            #{knowledgeId}
        </foreach>
    </delete>
</mapper>