<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twelvet.server.ai.mapper.AiModelMapper">

    <resultMap type="AiModel" id="AiModelResult">
        <result property="modelId" column="model_id"/>
        <result property="modelProvider" column="model_provider"/>
        <result property="model" column="model"/>
        <result property="modelType" column="model_type"/>
        <result property="defaultFlag" column="default_flag"/>
        <result property="alias" column="alias"/>
        <result property="apiKey" column="api_key"/>
        <result property="baseUrl" column="base_url"/>
        <result property="temperature" column="temperature"/>
        <result property="topP" column="top_p"/>
        <result property="extParam" column="ext_param"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectAiModelVo">
        select model_id,
               model_provider,
               model,
               model_type,
               default_flag,
               alias,
               api_key,
               base_url,
               temperature,
               top_p,
               ext_param,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from ai_model
    </sql>

    <select id="selectAiModelList" parameterType="AiModel" resultMap="AiModelResult">
        <include refid="selectAiModelVo"/>
        <where>
            <if test="modelProvider != null  and modelProvider != ''">and model_provider = #{modelProvider}</if>
            <if test="model != null  and model != ''">and model = #{model}</if>
            <if test="modelType != null  and modelType != ''">and model_type = #{modelType}</if>
            <if test="defaultFlag != null">and default_flag = #{defaultFlag}</if>
            <if test="alias != null  and alias != ''">and alias = #{alias}</if>
            <if test="apiKey != null  and apiKey != ''">and api_key = #{apiKey}</if>
            <if test="baseUrl != null  and baseUrl != ''">and base_url = #{baseUrl}</if>
            <if test="temperature != null">and temperature = #{temperature}</if>
            <if test="topP != null">and top_p = #{topP}</if>
            <if test="extParam != null  and extParam != ''">and ext_param = #{extParam}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectAiModelByModelId" parameterType="Long" resultMap="AiModelResult">
        <include refid="selectAiModelVo"/>
        where model_id = #{modelId}
    </select>

    <select id="selectAiModelByModelDefault" parameterType="com.twelvet.api.ai.constant.ModelEnums" resultMap="AiModelResult">
        <include refid="selectAiModelVo"/>
        where model_type = #{modelTypeEnum} and default_flag = 1
    </select>

    <insert id="insertAiModel" parameterType="AiModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into ai_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelProvider != null">model_provider,</if>
            <if test="model != null">model,</if>
            <if test="modelType != null">model_type,</if>
            <if test="defaultFlag != null">default_flag,</if>
            <if test="alias != null">alias,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="baseUrl != null and baseUrl != ''">base_url,</if>
            <if test="temperature != null">temperature,</if>
            <if test="topP != null">top_p,</if>
            <if test="extParam != null and extParam != ''">ext_param,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelProvider != null">#{modelProvider},</if>
            <if test="model != null">#{model},</if>
            <if test="modelType != null">#{modelType},</if>
            <if test="defaultFlag != null">#{defaultFlag},</if>
            <if test="alias != null">#{alias},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="baseUrl != null and baseUrl != ''">#{baseUrl},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="topP != null">#{topP},</if>
            <if test="extParam != null and extParam != ''">#{extParam},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateAiModel" parameterType="AiModel">
        update ai_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelProvider != null">model_provider = #{modelProvider},</if>
            <if test="model != null">model = #{model},</if>
            <if test="modelType != null">model_type = #{modelType},</if>
            <if test="defaultFlag != null">default_flag = #{defaultFlag},</if>
            <if test="alias != null">alias = #{alias},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="baseUrl != null and baseUrl != ''">base_url = #{baseUrl},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="topP != null">top_p = #{topP},</if>
            <if test="extParam != null and extParam != ''">ext_param = #{extParam},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteAiModelByModelId" parameterType="Long">
        delete
        from ai_model
        where model_id = #{modelId}
    </delete>

    <delete id="deleteAiModelByModelIds" parameterType="String">
        delete from ai_model where model_id in
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>

    <update id="cancelStatus" parameterType="com.twelvet.api.ai.constant.ModelEnums">
        update ai_model set default_flag = 0 where model_type = #{modelTypeEnum}
    </update>
</mapper>