name: test

on:
  workflow_dispatch:
  push:
    branches: [ master, master-boot-3 ]
  pull_request:
    branches: [ master, master-boot-3 ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17 ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: zulu
          cache: maven

      - name: mvn spring-javaformat:validate
        run: mvn spring-javaformat:validate

      - name: mvn clean install
        run: mvn clean install

      - name: init
        run: cd docker && chmod 751 ./deploy.sh && ./deploy.sh init

      - name: Start Base
        run: cd docker && ./deploy.sh base

      - name: Start Server
        run: |
          sleep 15
          cd docker
          docker-compose up -d twelvet-gateway twelvet-auth twelvet-server-system

      - name: Check Server twelvet-nacos
        run: |
          docker logs --tail 500 twelvet-nacos

      - name: Check Server twelvet-gateway
        run: |
          docker logs --tail 500 twelvet-gateway

      - name: Check Server twelvet-auth
        run: |
          docker logs --tail 500 twelvet-auth

      - name: Check Server twelvet-server-system
        run: |
          docker logs --tail 500 twelvet-server-system
